<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>管理员更新密码 </title>

    <script th:src="@{/js/jquery-1.10.2.min.js}"></script>
    <script th:src="@{/js/jquery.form.min.js}"></script>
    <script th:src="@{/js/jquery.json.js}"></script>
    <script th:src="@{/js/bootbox.min.js}"></script>
</head>

<body>
<div layout:fragment="content">

<div class="row">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header"><i class="fa fa-laptop"></i> 管理员管理</h3>
            <ol class="breadcrumb">
                <li><i class="fa fa-home"></i><a th:href="@{/manage/admin/list}">管理员管理</a></li>
                <li><i class="fa fa-laptop"></i><a id="update_admin">更新管理员</a></li>
            </ol>
        </div>
    </div>

    <section class="wrapper">
        <!-- page start-->
        <h2 class="page-header">修改密码</h2>
        <div class="row">
            <div class="col-lg-6">
                <section class="panel">
                    <div class="panel-body">
                        <form id="update_admin_form" taction="@{/manage/admin/json/update}" method="post">
                            <div class="form-group">
                                <label for="exampleInputEmail1">名称</label>
                                <input type="text" class="form-control" id="exampleInputEmail1" name="adminName" th:value="${user}" />
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">密码</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="请输入密码" />
                            </div>
                            <button type="submit" class="btn btn-default">修改</button>
                        </form>

                    </div>
                </section>
            </div>
        </div>
        <!-- page end-->
    </section>

</div>

<script type="text/javascript">
    $(function () {
        $('#update_admin_form').ajaxForm({
            dataType: 'json',
            success: function (data) {
                if (data.result) {
                    bootbox.alert("修改成功，将刷新页面",function () {
                        window.location.reload();
                    });
                } else {
                    showErrors($('#update_admin_form'),data.errors);
//                    bootbox.alert(data.msg);
                }
            }
        });

        $("#update_admin").bind('click',function(){
            window.location.reload();
        })
    });
</script>
</div>
</body>
</html>